table,
.mat-table {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container>* {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}

.table-holder {
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 45px;
  margin-right: 45px;
}