<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
        <h2>
            <!-- <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>  -->
        </h2>


        <div class="user-wrapper">
            <!-- <img src="img/Avatar.png" width="40px" height="40px" alt=""> -->
            <div>
                <h4>Administrador</h4>
                <small>Super Admin</small>
            </div>
        </div>
    </header>

    <main>
        <!-- <div class="cards">

            <div class="card-single">
                <div>
                    <h1>5</h1>
                    <span>Menejo de usuarios</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>12</h1>
                    <span>Menejo de doctores</span>
                </div>
                <div>
                    <span class="las la-stethoscope"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>25</h1>
                    <span>Manejo de pacientes</span>
                </div>
                <div>
                    <span class="las la-wheelchair"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>2</h1>
                    <span>Nuevas consultas</span>
                </div>
                <div>
                    <span class="lab la-wpforms"></span>
                </div>
            </div>
        </div> -->
        <!--Tabla-->
      
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
        <!-- <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Pacientes recientes</h3>

                        <button>Mostrar todo <span class="las la-arrow-right">
                            </span></button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>Apellido</td>
                                        <td>Estado</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jhon Deiby</td>
                                        <td>Salazar Rayo</td>
                                        <td>
                                            <span class="status green"></span> Bueno
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Victor Manuel</td>
                                        <td>Ciro Ledesma</td>
                                        <td>
                                            <span class="status red"></span> Malo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Julian Andres</td>
                                        <td>Quesada Carmona</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Andres</td>
                                        <td>Hernandez</td>
                                        <td>
                                            <span class="status green"></span> Bueno
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Manuel</td>
                                        <td>Chicangana</td>
                                        <td>
                                            <span class="status red"></span> Malo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Julieta</td>
                                        <td>Quesad</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Marleny</td>
                                        <td>Salazar Orozco</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kelly</td>
                                        <td>Gil Ortiz</td>
                                        <td>
                                            <span class="status green"></span> Bueno
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bilma</td>
                                        <td>Ortiz Bermudez</td>
                                        <td>
                                            <span class="status red"></span> Malo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Julian Andres</td>
                                        <td>Salazar Rayo</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Jhonatan</td>
                                        <td>Velazco</td>
                                        <td>
                                            <span class="status yellow"></span> Intermdio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Samir</td>
                                        <td>Vidal Carmona</td>
                                        <td>
                                            <span class="status green"></span> Bueno
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Karen</td>
                                        <td>Orozco Sanches</td>
                                        <td>
                                            <span class="status red"></span> Malo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Emiliano</td>
                                        <td>Chicaganda</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Jhon Jairo</td>
                                        <td>Salazar Gallego</td>
                                        <td>
                                            <span class="status yellow"></span> Intermedio
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        
        </div> -->

    </main>

</div>